@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #27384C;
     --normal: #1E1E1E;
    /* Box Shadows */
    --lightShadow: 0 0 2em 0px #777;

    /* Font sizes */
    --categoryTitle: 1em;
    --mainTextSize: 1.5em;
    --normalText: 1em;

    /* Width */
    --circleDetailedWidth: 18em;
    --profileMaxWidth: 18em;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--normalText); 
}

.components-wrapper.dark * {
   color: #fff;
}

body .main-con {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4em;
    overflow: hidden;
}

.components-wrapper::before {
    content: '';
    position: fixed;
    top: -5em;
    right: 50%;
    translate: 50% 0;
    background-color: #222;
    width: 5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    scale: 0;
    transition: all 1.2s ease-in-out;
    z-index: -999999;
}

body > .main-con .detailed-circle, 
body> .main-con .blur-effect {
    transition: all .6s;
    user-select: none;
}

.components-wrapper.dark > .main-con .detailed-circle, 
.components-wrapper.dark > .main-con .blur-effect {
    opacity: 0;
    
}

.components-wrapper.dark .category-title {
    background-color: #415E80;
}

.components-wrapper.dark::before {
   scale: 50;
   --normal: #fff;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--normal);
}

.primary_color--text {
   color: var(--primary);
}

.main-con .header_container h1 {
    font-size: var(--mainTextSize);
}

.profile-img {
    width: 50%;
    padding: 1em;
    border-radius: 50%;
    box-shadow: var(--lightShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: var(--profileMaxWidth);
}

.profile-img > img {
    width: 100%;
    border: 1px solid #222;
    border-radius: 50%;
}

.main-con {
    padding-top: 1em; 
    padding-inline: 0;
}

.main-con .inner-con {
    padding-inline: 1em;
}

.main-con .header_container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.main-con .header_container > header {
    margin-top: 1em;
}

.main-con .left-side .about-con > div:nth-child(1) {
  text-align: center;
}

.main-con .left-side {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.about-con > div:nth-child(1) p {
    margin-top: .5em;
}

.about-info ul {
    margin-top: 2em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-info ul li {
    display: flex;
    align-items: center;
    gap: 1em;
}

.about-info ul li > div {
    background-color: var(--primary);
    padding: .6em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info ul li > div img {
    width: 1.2em;
}

.category-title {
   color: white;
   padding: .4em 1.5em;
   background-color: var(--primary);
   width: fit-content;
   border-radius: 99em;
   font-weight: 500;
   font-size: var(--categoryTitle);
   margin-inline: auto;
}

.category-title--about {
 font-size: 1.3em;
}

.interest-con ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin-top: 2em;
}

.interest-con ul li {
    display: flex;
    align-items: center;
    gap: 1em;
}

.interest-con ul li img {
    width: 2em;
}

/* Skills */

.skills-con ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    margin-top: 2em;
}

.skills-con ul li {
  background-color: white;
  border: 1px solid #ccc;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  border-radius: .5em;
  gap: .5em;
}
.components-wrapper.dark .skills-con ul li {
    background-color: #222;
    border: 0px solid #ccc;
}

.skills-con ul li img {
    width: 1.5em;
}

/* Web Projects */

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

body main.sides-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-top: 2em;
}

.web-projects-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    margin-top: 2em;
}

.web-projects-con > section {
  width: 100%;
position:relative;
border-radius: .8em;
    
}

.web-projects-con > section > div:nth-child(1) {
    position:relative;
    overflow: hidden;
}

.web-projects-con > section > div:nth-child(1):before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#eee, var(--primary));
    z-index: -1;
    border-radius: .8em;
    transition: all .6s;
}

.components-wrapper.dark .web-projects-con > section > div:nth-child(1):before {
    background: linear-gradient(#222, #415E80);
}

.web-projects-con > section > div:nth-child(2) {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    z-index: 2;
}

.web-projects-con > section > div:nth-child(2)::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
    border-radius: .8em;

}

.web-projects-con > section > div > img {
    width: 100%;
    translate: 0 100px;
    opacity: 0;
    transition: all .7s;
}

.web-projects-con section.active > div > img {
    translate: 0 0;
    opacity: 1;
    translate: 0 0;
    opacity: 1;
}

.web-projects-con > section > div:nth-child(2) > div h3,
.web-projects-con > section > div:nth-child(2) > div p {
    color: white;
}

.web-projects-con > section > div:nth-child(2) button {
    align-self: flex-end;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-projects-con > section > div:nth-child(2) button img {
    width: 4em;
    padding: 1em;
}

/* Educational Background */

.educ-bg > ul {
    position: relative;
    list-style: none;
   display: flex;
   flex-direction: column;
   gap: 2em;   
   margin-top: 2em;
}

.educ-bg > ul::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--primary);
    top: .5em;
    left: .40em;
}

.components-wrapper.dark .educ-bg > ul::before {
    background-color: #415E80;
}

.educ-bg > ul > li  {
    position: relative;
    padding-left: 1.7em;
}

.educ-bg > ul > li::before {
    content: '';
    position: absolute;
    width: 15px;
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;

    top: .5em;
    left: 0;
}

.components-wrapper.dark .educ-bg > ul > li::before {
    background-color: #415E80;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: .8em;
    background-color: var(--primary);
    color: white;

    justify-content: space-between;
    align-items: center;
    padding-block: .5em;
    padding-inline: 1em;
}

footer > *, footer > * > * {
    color: white;
}

footer > div {
    display: flex;
    align-items: center;
    gap: .8em;
    
}
footer > div > img {
    border-radius: 50%;
    width: 2.5em;
}

/* Darkmode btn */
.darkmode-btn {
    position: absolute;
    background-color: #D9D9D9;
    
    top: .5em;
    right: .5em;
    width: fit-content;
    padding: .5em;

    display: flex;
    align-items: center;
    gap: .8em;
    border-radius: 99em;
 }

 .components-wrapper.dark .darkmode-btn {
    background-color: #000;
 }

 .components-wrapper.dark .darkmode-btn > div:not(.clickable) {
left: 55%;
 }


 .darkmode-btn > div {
    position: absolute;
    width: 1.3em;
    background-color: #fff;
    display: flex;
    left: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 99em;
    padding: .2em;
    transition: all .4s;
 }

 .darkmode-btn > img {
    width: 1em;
 }

 .darkmode-btn > div > img {
    width: 100%;
 }

 /* Detailed Circle */
 .detailed-circle {
    position: absolute;
    z-index: -99;
    width: var(--circleDetailedWidth);
    user-select: none;

 }

 .detailed-circle:nth-child(1) {
    top: -4em;
    left: -4em;
    translate: 0 -50%;
 }

 .detailed-circle:nth-child(2)
 {
    top: 50em;
    right: -10em;
 }

 .blur-effect {
    display: none;
 }

 .vision-con > p {
  margin-top: 2em;
  line-height: 2;
 }

 .text-hightlight {
    font-weight: 800;
    color: var(--primary);
 }

 .darkmode-btn > .clickable {
    position: absolute;
    width: 100%;
    inset: 0;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
 }


 @media screen and (min-width: 768px) {
    .web-projects-con {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: .8em;
    }

    .web-projects-con > section {
       width: 45%;
     }
 }

 @media screen and (min-width: 1024px) {

    :root {
        --mainTextSize: 4em;
        --profileMaxWidth: 100%;
        --normalText: 1em;
        --mainConWidth: 1000px;
        --mainTextSize: 4.5em;
        --profileWidth: 17em;
    }

    .main-con .header_container {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        text-align: right;
    }

    .main-con .header_container header {
         width: 60%;
    }

    .main-con .header_container h1 {
    line-height: 1;
    margin-bottom: .3em;
    }

    .main-con .header_container {
        padding-right: 5em;
      
    }


    .profile-img {
        width: var(--profileWidth);
        position: relative;
        margin-left: 4em;
    }

    body .main-con {
        margin-block: 2em;
        border-radius: 2em;
        width: var(--mainConWidth);
        box-shadow: var(--lightShadow);
        margin-inline: auto;
    }

   

    .main-con .inner-con {
        padding: 4em;
        padding-bottom: 0;
    }

    footer {
        padding: 1em 4em;
    }

    .darkmode-btn {
        top: 2em;
        right: 2em;
    }

    .profile-img::before,
    .profile-img::after {
        content: '';
        position: absolute;
        
        width: 85%;
        aspect-ratio: 1;     
         border-radius: .8em; 
    }

    .profile-img::before {
        background-color: var(--primary);
        translate: -18% -18%;
        z-index: -1;
    }

    .components-wrapper.dark .profile-img::before {
        background-color: #415E80;
        
    }

    .components-wrapper.dark .profile-img::after {
        border-color:  #415E80;
        
    }

    .profile-img::after {
       
        border: 1px solid var(--primary);
        translate: -25% -25%;
        z-index: -2;
    }

    body main.sides-wrapper {
        flex-direction: row;
    }

    body main.sides-wrapper > * {
        width: 100%;
    }

    .web-projects-con {
        flex-direction: column;
    }

    .web-projects-con > section {
        width: 100%;
    }

    .category-title {
        margin-inline: 0;
    }

    .blur-effect {
        display: block;
        position: absolute;
        z-index: -99;
        width: 24em;
        aspect-ratio: 1;
        opacity: .5;
    }

    .blur-effect.first {
        right: -18%;
        top: 10%;
    }

    .blur-effect.second {
        right: -20%;
        top: 65%;
    }

    .web-projects-con > section > div:nth-child(2) button img {
        width: 3em;
    }

    .detailed-circle:nth-child(1) {
    top: 0em;
    left: -5em;
    translate: 0 -30%;
 }

 .main-con {
    position: relative;
 }

 .main-con::before {
    content: '';
    position: absolute;
    background-color: #F3F9FF;
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -999;
    transition: all .6s;
 }

 .components-wrapper.dark .main-con::before {
    background-color: #000;
 }

 .web-projects-con {
    gap: 4em;
 }

 .web-projects-con > section::before {
    content: '';
    position: absolute;
    bottom: -2em;
    width: 100%;
    left: 0;
    background-color: var(--primary);
    height: 2px;
 }

 .web-projects-con > section > div:nth-child(2)::before,
 .web-projects-con > section > div:nth-child(2) > div h3,
.web-projects-con > section > div:nth-child(2) > div p,
.web-projects-con > section > div:nth-child(2) button {
    opacity: 0;
    transition: all .48s;
 }

 .web-projects-con > section > div:nth-child(2) > div h3,
.web-projects-con > section > div:nth-child(2) > div p,
.web-projects-con > section > div:nth-child(2) button {
    translate: 0 2em;
}
.web-projects-con > section:hover > div:nth-child(2) > div h3,
.web-projects-con > section:hover > div:nth-child(2) > div p,
.web-projects-con > section:hover > div:nth-child(2) button {
    translate: 0 0;
    opacity: 1;
}

.web-projects-con > section > div:nth-child(2) > div h3 {
    transition-delay: .15s;
}

.web-projects-con > section > div:nth-child(2) > div p {
    transition-delay: .23s;
}

.web-projects-con > section > div:nth-child(2) button {
    transition-delay: .25s;
}

 /* .web-projects-con > section > div:nth-child(1) > img {
    transition: all .4s;
 }  */

 .web-projects-con > section:hover > div:nth-child(2)::before {
    opacity: 1;
 }

 .web-projects-con > section:hover > div:nth-child(1) > img {
    scale: 1.1;
 }

.category-title--about {
  font-size: 2em;
}

.main-con .left-side .about-con > div:nth-child(1) > p {
    line-height: 2;
    margin-bottom: 3em;
}
.main-con .left-side {
    gap: 4em;
}

footer {font-size: 1em;}

 }

 @media screen and (min-width: 1300px) {

    :root {
         --mainConWidth: 1100px;
         --profileWidth: 19em;
         --mainTextSize: 5em;
    }

    .main-con .header_container p {
        font-weight: 600;
        font-size: 1.2em;
    }
     
 }

 /* Animations */

 .profile-img > img {
    scale: .2;
 }

 .profile-img::before,
 .profile-img::after,
 .profile-img > img {
    opacity: 0;
    animation: stateBack .8s .3s forwards;
}

.header_container header h1,
.header_container header p {
    translate: 2em 0;
    opacity: 0;
    animation: stateBack .8s .3s forwards;
}

.header_container header p  {
    animation-delay: .7s;
}

.about-con > div:first-child h2,
.about-con > div:first-child p {
    translate: 0 80px;
    opacity: 0;
    animation: stateBack .8s .3s forwards;
}

.about-con > div:first-child p {
    animation-delay: .5s;
}

@keyframes stateBack {
    
    to {
        translate: 0 0;
        opacity: 1;
        scale: 1;
    }

}

.profile-img::before {
    animation: boxAnim1 .8s 1s forwards;
}



@keyframes boxAnim1 {
    from {
      translate: -45% -45%;
    }

    to {
      translate: -18% -18%;
      opacity: 1;
    }
}

.profile-img::after {
    animation: boxAnim2 .8s .8s forwards;
}


@keyframes boxAnim2 {
    from {
      translate: -45% -45%;
    }

    to {
      translate: -25% -25%;
      opacity: 1;
    }
}